---
---
@import "mixins/flexbox";
@import "mixins/columns";
@import "variables";
@import "elements";
@import "landing-page";
@import "layout";
@import "staff";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";

.flag-container {
  display: inline-block;
  width: 50px; /* Adjust as needed */
  text-align: center;
  margin-right: 12px;
}

.language-flag {
  border: 1px solid black;
  vertical-align: middle;
}
