---
---
@import "mixins/flexbox";
@import "mixins/columns";
@import "variables";
@import "elements";
@import "landing-page";
@import "layout";
@import "staff";
@import "contact";
@import "blog";
@import "forms";
@import "navigation";
@import "footer";

.flag-container {
  margin-right: 8px;
}

.language-flag {
  height: 32px;
  width: auto;
  vertical-align: middle;
  border: 1px solid black;
}
