# ----
# Site

title: AnySoftKeyboard
url: "https://anysoftkeyboard.github.io"
baseurl: ""

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: Official website of AnySoftKeyboard, the open source Android keyboard.
author:
  name: Menny Even-Danan
social:
  name: AnySoftKeyboard
  links:
    - https://hachyderm.io/@anysoftkeyboard
    - https://github.com/AnySoftKeyboard/AnySoftKeyboard

# -----
# Build

timezone: Etc/UTC

collections:
  staff_members:
    output: false

paginate: 10
paginate_path: "/blog/:num/"
permalink: pretty

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "staff_members"
    values: {}
  - scope:
      path: ""
    values:
      layout: "page"
  - scope:
      path: "index.html"
    values:
      layout: "default"

jekyll-archives:
  enabled:
    - categories

plugins:
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE
  - node_modules
  - vendor
  - package.json
  - package-lock.json
  - css/input.css
