---
title: Languages
description: Below you'll find a list of language packs and where you can download them

languages:
- name: English
  play: https://play.google.com/store/apps/details?id=com.menny.android.anysoftkeyboard
  f-droid: https://f-droid.org/repository/browse/?fdid=com.menny.android.anysoftkeyboard
  github: https://github.com/AnySoftKeyboard/AnySoftKeyboard
- name: Arabic
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.arabic
  f-droid: #
  github: #
- name: Basque
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.basque
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.basque/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Basque
- name: Belarusian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.belarusian2
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Belarusian
- name: Brazilian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.brazilian
  f-droid: https://f-droid.org/en/packages/com.anysoftkeyboard.languagepack.brazilian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Brazilian
- name: Bulgarian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.bulgarian
  f-droid: #
  github: #
- name: Catalan
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.catalan
  f-droid: #
  github: #
- name: Czech
  play: https://play.google.com/store/apps/details?id=org.herrlado.ask.languagepack.czech
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Czech
- name: Danish
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.danish
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.danish
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Danish
- name: Dutch
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.dutch
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.dutch
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Dutch
- name: Finnish
  play: https://play.google.com/store/apps/details?id=com.menny.anysoftkeyboard.finnish
  f-droid: https://f-droid.org/packages/com.menny.anysoftkeyboard.finnish/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Finnish
- name: French
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.french
  f-droid: https://f-droid.org/en/packages/com.anysoftkeyboard.languagepack.french/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/French
- name: Fulah
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.fulah
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Fulah
- name: Georgian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.georgian_full
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Georgian
- name: German
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.german
  f-droid: https://f-droid.org/en/packages/com.anysoftkeyboard.languagepack.german/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/German
- name: Greek
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.greek
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.greek/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Greek
- name: Hawaiian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.hawaiian
  f-droid: #
  github: #
- name: Hebrew
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.hebrew
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.hebrew/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Hebrew
- name: Icelandic
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.icelandic
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.icelandic/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Icelandic
- name: Italian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.italian
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.italian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Italian
- name: Indonesian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.indonesian
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.indonesian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Indonesian
- name: Lao
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.lao
  f-droid: #
  github: #
- name: Latvian
  play: https://play.google.com/store/apps/details?id=org.herrlado.ask.languagepack.latvian
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.latvian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Latvian
- name: Lithuanian
  play: https://play.google.com/store/apps/details?id=org.herrlado.ask.languagepack.lithuanian
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Lithuanian
- name: Macedonian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.macedonian
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.macedonian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Macedonian
- name: Norwegian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.norwegian
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.norwegian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Norwegian
- name: Persian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.persian
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Persian
- name: Polish
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.osspolish
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.osspolish/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Polish
- name: Portuguese
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.portuguese
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.portuguese/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Portuguese
- name: Russian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.russian2
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.russian2/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Russian
- name: Sardinian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.sardinian
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/master/languages/sardinian
- name: Sindhi
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.sindhi
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Sindhi
- name: Slovak
  play: https://play.google.com/store/apps/details?id=org.herrlado.ask.languagepack.slovak
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Slovak
- name: Slovene
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.slovene
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.slovene/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Slovene
- name: Spanish
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.spain
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.spain/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Spanish
- name: Swedish
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.swedish
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.swedish/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Swedish
- name: Swiss
  play: https://play.google.com/store/apps/details?id=ch.masshardt.anysoftkeyboard.swisslanguagepack
  f-droid: #
  github: #
- name: Tamil
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.tamil
  f-droid: #
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Tamil
- name: Tatar
  play: https://play.google.com/store/apps/details?id=ch.masshardt.anysoftkeyboard.tatarlanguagepack
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.tatar/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Tatar
- name: Turkish
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.ossturkish
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.ossturkish/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Turkish
- name: Ukrainian
  play: https://play.google.com/store/apps/details?id=com.anysoftkeyboard.languagepack.ukrainian
  f-droid: https://f-droid.org/packages/com.anysoftkeyboard.languagepack.ukrainian/
  github: https://github.com/AnySoftKeyboard/LanguagePack/tree/Ukrainian
---

<section>
	{% for language in page.languages %}
	<div>
	<p class="languages-list">{{ language.name }}
	
	{% if language.github == nil %}
	<img class="no-link-found not-full-icon" src="/images/github.png" width="32px" height="32px"/></a>
	{% else %}
	<a href="{{ language.github }}"><img class="not-full-icon" src="/images/github.png" width="32px" height="32px"/></a>
	{% endif %}
	
	{% if language.f-droid == nil %}
	<img class="no-link-found not-full-icon" src="/images/fdroid.png" width="32px" height="32px"/></a>
	{% else %}
	<a href="{{ language.f-droid }}"><img class="not-full-icon" src="/images/fdroid.png" width="32px" height="32px"/></a>
	{% endif %}
	
	{% if language.play == nil %}
	<img class="no-link-found not-full-icon" src="/images/play.png" width="32px" height="32px"/></a>
	{% else %}
	<a href="{{ language.play }}"><img class="not-full-icon" src="/images/play.png" width="32px" height="32px"/></a>
	{% endif %}
	</p>
	</div>
	{% endfor %}
	<p>Number of languages available: 41</p>
</section>
