---
title: Languages
description: Below you'll find a list of language packs and where you can download them
---

<section>
	{% for language in site.data.languages.languages %}
	<div>
	<p class="languages-list"><img src="{{ language.icon }}" alt="{{ language.name }} flag" style="height: 32px; width: auto; padding-right: 12px; vertical-align: middle;"> {{ language.name }}
	
	{% if language.github == nil %}
	<img class="no-link-found not-full-icon" src="/images/github.png" width="32px" height="32px"/></a>
	{% else %}
	<a href="{{ language.github }}"><img class="not-full-icon" src="/images/github.png" width="32px" height="32px"/></a>
	{% endif %}
	
	{% if language.f-droid == nil %}
	<img class="no-link-found not-full-icon" src="/images/fdroid.png" width="32px" height="32px"/></a>
	{% else %}
	<a href="{{ language.f-droid }}"><img class="not-full-icon" src="/images/fdroid.png" width="32px" height="32px"/></a>
	{% endif %}
	
	{% if language.play == nil %}
	<img class="no-link-found not-full-icon" src="/images/play.png" width="32px" height="32px"/></a>
	{% else %}
	<a href="{{ language.play }}"><img class="not-full-icon" src="/images/play.png" width="32px" height="32px"/></a>
	{% endif %}
	</p>
	</div>
	{% endfor %}

	{% assign total = 0 %}
	{% for language in site.data.languages.languages %}
	  {% assign total = total | plus: 1 %}
	{% endfor %}

	<p>Number of languages available: {{ total }}</p>
</section>
