/* overpass-regular - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('overpass-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Overpass Regular'), local('Overpass-Regular'),
       url('overpass-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('overpass-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('overpass-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('overpass-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('overpass-v2-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

/* overpass-italic - latin */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url('overpass-v2-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Overpass Italic'), local('Overpass-Italic'),
       url('overpass-v2-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('overpass-v2-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('overpass-v2-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('overpass-v2-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('overpass-v2-latin-italic.svg#Overpass') format('svg'); /* Legacy iOS */
}

/* overpass-700 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('overpass-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Overpass Bold'), local('Overpass-Bold'),
       url('overpass-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('overpass-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('overpass-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('overpass-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('overpass-v2-latin-700.svg#Overpass') format('svg'); /* Legacy iOS */
}

/* overpass-800 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url('overpass-v2-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Overpass ExtraBold'), local('Overpass-ExtraBold'),
       url('overpass-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('overpass-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('overpass-v2-latin-800.woff') format('woff'), /* Modern Browsers */
       url('overpass-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('overpass-v2-latin-800.svg#Overpass') format('svg'); /* Legacy iOS */
}
